pkgbase = fantasy-map-generator
	pkgdesc = Web application generating interactive and highly customizable maps
	pkgver = v1.9
	pkgrel = 1
	url = https://github.com/Azgaar/Fantasy-Map-Generator
	arch = any
	license = MIT
	depends = electron
	depends = libappindicator-gtk3
	depends = ffmpeg
	conflicts = fantasy-map-generator-git
	source = fmg-v1.9.tar.gz::https://codeload.github.com/Azgaar/Fantasy-Map-Generator/tar.gz/refs/tags/v1.9
	source = electron.main.js
	sha256sums = 4aae3d3f13041aa4508829feea50346195974164ca98d0f8b4eda52ce39257a3
	sha256sums = 7b21b853c45a627c0068a9ad1805cc185e63a541da0ba9fcc99502f95da8301d

pkgname = fantasy-map-generator
