pkgbase = fantasy-map-generator-git
	pkgdesc = Web application generating interactive and highly customizable maps
	pkgver = r1354.c74d38ea
	pkgrel = 1
	url = https://github.com/Azgaar/Fantasy-Map-Generator
	arch = any
	license = MIT
	depends = electron
	depends = libappindicator-gtk3
	depends = ffmpeg
	conflicts = fantasy-map-generator
	source = git+https://github.com/Azgaar/Fantasy-Map-Generator
	source = electron.main.js
	sha256sums = SKIP
	sha256sums = 7b21b853c45a627c0068a9ad1805cc185e63a541da0ba9fcc99502f95da8301d

pkgname = fantasy-map-generator-git
